.profile_user_info_table {
	margin: 20px;
}
.profile_table_td {
	padding: 10px;
}
.profile_user_avatar {
	height: 200px;
	width: 200px;
	border: 1px solid #dddddd;
	border-radius: 12px;
	margin: 20px;
}
.input_photo_file {
	margin: 0px auto 17px auto;
}

.add_post_button {
	text-align: center;
	margin: 20px 0px;
}
.post_textarea {
	margin-top: 20px;
}
.post_button {
	margin-top: 10px;
}
.post_user_avatar {
	max-width: 90px;
	width: 70px;
	height: 70px;
	border-radius: 8px;
}
.post_body {
	margin-left: 80px;
}
.post_well {
	margin-bottom: 5px;
	min-height: 70px;
}

.people_user_info_table {
	margin: 20px;
}
.people_table_td {
	padding: 10px;
}
.people_user_avatar {
	height: 120px;
	width: 120px;
	border: 1px solid #dddddd;
	border-radius: 12px;
	margin: 20px auto;
}