.profile_user_info_table {
	margin: 20px;
}
.profile_table_td {
	padding: 10px;
}
.profile_user_avatar {
	height: 200px;
	width: 200px;
	border: 1px solid #dddddd;
	border-radius: 12px;
	margin: 20px;
}
.input_photo_file {
	margin: 0px auto 17px auto;
}