body { padding-top: 70px; }


.profile_user_info_table {
	margin: 20px;
}
.profile_table_td {
	padding: 10px;
}
.profile_user_avatar {
	height: 200px;
	width: 200px;
	border: 1px solid #dddddd;
	border-radius: 12px;
	margin: 20px;
}
.input_photo_file {
	margin: 0px auto 17px auto;
}

.add_post_button {
	text-align: center;
	margin: 20px 0px;
}
.post_textarea {
	margin-top: 20px;
}
.post_button {
	margin-top: 10px;
}
.post_user_avatar {
	max-width: 90px;
	width: 70px;
	height: 70px;
	border-radius: 8px;
}
.post_body {
	margin-left: 80px;
}
.post_well {
	margin-bottom: 5px;
	min-height: 70px;
}

.people_container {
    padding: 20px;
}
.people_user_avatar {
        height: 90px;
        width: 90px;
        border: 1px solid #dddddd;
        float: left;
        border-radius: 4px;
        margin-left: 0px;
}
.people_info_container {
    display: inline-table;
}
.people_container_name_info {
    display: inline-block;
    margin-left: 10px;
}
.people_info_name {
    display: inline-block;
    word-wrap: break-word;
    max-width: 150px;
}
.people_info_item {
    font-size: 12px;
}
.people_send_message_container {
    display: inline-block;
    background-color: #edf1f5;
    padding: 10px;
    max-height: 60px;
    word-break: break-all;
}

.list-group-item-linkable:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
    cursor: pointer;
}

.chats_info_container {
    display: inline-table;
}
.chats_receiver_avatar {
    height: 60px;
    width: 60px;
    border: 0px;
    float: left;
    border-radius: 4px;
    margin-left: 0px;
}
.chats_info_container_name_date {
    display: inline-block;
    margin-left: 10px;
}
.chats_info_name {
    display: inline-block;
    word-wrap: break-word;
    max-width: 150px;
}
.chats_info_date {
    font-size: 12px;
}
.chats_last_message_avatar {
    height: 40px;
    width: 40px;
    border: 0px;
    border-radius: 3px;
    float: left;
}
.chats_last_message_container {
    display: inline-block;
    width: 60%;
    background-color: #edf1f5;
    padding: 10px;
    max-height: 60px;
    word-break: break-all;
}
.chats_last_message_text_container {
    margin-left: 50px;
}

.messages_panel {
    margin-bottom: 179px;
}
.message_avatar {
    float: left;
}
.message_name_date {
    margin: 0 0px 0px 75px;
}
.message_name {
    display: inline-block;
}
.message_date {
    float: right;
    font-size: 12px;
}
.message_text {
    margin: 0 0px 0px 75px;
}
.message_send_button {
    margin-bottom: 30px;
    margin-top: 10px;
}
.message_send_form_container {
    background-color: #ffffff;
}
.member_container {
    display: inline-table;
}
.chat_member_name {
    display:inline-block;
    margin-top: 13px;
    margin-left: 10px;
}
.chat_member_avatar {
    height: 45px;
    width: 45px;
    border: 0px;
    float: left;
    border-radius: 3px;
    margin-left: 0px;
}
.show_members_button {
    margin-top: 10px;
}
.add_members_button {
    margin-top: 10px;
    margin-left: 20px;
}

.members_container {
    padding: 5px;
}
.members_user_avatar_link {
    float: left;
    margin-left: 0px;
}
.members_user_avatar {
    height: 40px;
    width: 40px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}
.members_info_container {
    display: inline-table;
}
.members_container_name_info {
    display: inline-block;
    margin-left: 10px;
}
.members_info_name {
    display: inline-block;
    word-wrap: break-word;
    max-width: 150px;
}
.delete_user_from_chat_button {
    margin: 3px;
}


